
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://github.com/Tomson124/ResolVbus-Dashboard">
            Github
          </a>
        </li>
        <li>
          <a href="https://twitter.com/Tomson124">
            Twitter
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Maintained by
      <a href="https://github.com/Tomson124" target="_blank">Tomson124</a>.
    </div>
  </div>
</footer>
