@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card {
    background-image: nb-theme(radial-gradient);
  }

  nb-card-body {
    height: 100%;
    padding: 1rem 2rem;
    color: nb-theme(color-fg);
  }

  .info {
    display: flex;
    justify-content: space-around;

    .temperature {
      font-size: 5rem;
      font-weight: nb-theme(font-weight-bolder);
      font-family: nb-theme(font-secondary);
      color: nb-theme(color-fg-heading);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .icon {
      font-size: 6rem;
      line-height: 3rem;
      color: nb-theme(color-success);
    }

    .timestamp {
      font-family: nb-theme(font-main);
      font-size: 1.25rem;
      line-height: 1.25rem;
      font-weight: nb-theme(font-weight-light);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @include media-breakpoint-down(xs) {
    nb-card-body {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
