<nb-card class="temps">
    <nb-card-header class="icon">
        <i class="material-icons">wb_sunny</i>
    </nb-card-header>
    <nb-card-body class="info">
        <p class="temperature-title">Solaranlage</p>
        <div *ngIf="showSolar; else elseBlock">
            <h3>showSolar = {{showSolar}}
                {{temp.rawValue | number:'1.0-1'}}
                
                <small>&deg;C</small>
            </h3>
        </div>
        <ng-template #elseBlock><h3>20<small>&deg;C</small>{{showSolar}}</h3></ng-template>
    </nb-card-body>
    <nb-card-footer>
        <div class="timestamp">
            <i class="material-icons">access_time</i>
            <span id="timeSolar">{{timeStamp}} Uhr</span>
        </div>
    </nb-card-footer>
</nb-card>

