@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card {
    background-image: nb-theme(radial-gradient);
  }

  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.675rem 0.5rem 0.5rem 1.25rem;
  }

  nb-card-body {
    height: 100%;
    padding: 1rem 2rem;
    color: nb-theme(color-fg);
  }

  .dropdown {
    min-width: 120px;
  }

  @include media-breakpoint-down(xs) {
    nb-card-body {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
