body {
    background: #eeeeee;
}

.navbar {
    background: #ffffff !important;
}

.navbar-right {
    float: right;
    
    .form-group {
        display: inline-block;
    }

    .btn {
        display: inline-block;
    }
}

.sidebar-container {
    height: 400px;
}

.sidebar {
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);

    .sidebar-wrapper {
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 260px;
        z-index: 4;

        .nav {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;

            a {
                position: relative;
                display: block;
                transition: all .3s linear;
                margin: 10px 15px;
                border-radius: 3px;
                color: #3c4858;
                padding: 10px 15px;

                .material-icons {
                    vertical-align: middle;
                }
            }

            i {
                font-size: 24px;
                float: left;
                margin-right: 15px;
                line-height: 30px;
                width: 30px;
                text-align: center;
                color: #a9afbb;
            }

            p {
                margin: 0;
                line-height: 30px;
                font-size: 14px;
                float: right;
            }
        }
    }
}