@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card {
    background-image: nb-theme(radial-gradient);
    display: inline-block;
    width: 100%;
  }

  nb-card-header.icon {
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 2.3rem 0;
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
    text-align: center;
    width: 7.5rem;
    height: 7.5rem;
    float: left;
    border: none;

    i {
      font-size: 4rem;
      line-height: 3rem;
      color: #ffffff;
    }
  }

  nb-card-body {
    height: 100%;
    padding: 1rem 2rem;
    color: nb-theme(color-fg);
  }

  nb-card-footer {
    display: block;
    margin: 0 1rem;
    border-top: 1px solid #eeeeee;
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .info {
    text-align: right;
    display: block;

    .temperature-title {
      font-family: nb-theme(font-main);
      font-weight: nb-theme(font-weight-normal);
      color: #777777;
      font-size: 1.125rem;
      margin-bottom: 0;
    }

    .icon {
      font-size: 6rem;
      line-height: 3rem;
      color: nb-theme(color-success);
    }

    h3 {
      font-size: 3.5rem;
      font-weight: nb-theme(font-weight-normal);
      font-family: nb-theme(font-main);
      margin: 0;

      small {
        font-weight: nb-theme(font-weight-normal);
        font-size: 80%;
        line-height: 1;
        margin-left: -0.7rem;
      }
    }
  }

  .timestamp {
    font-family: nb-theme(font-main);
    color: #777777;
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: nb-theme(font-weight-normal);

    .material-icons {
      font-size: 1.4rem;
      top: 5px;
      position: relative;
    }
  }

  @include media-breakpoint-down(xs) {
    nb-card-body {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
