<nb-card class="temps">
    <nb-card-header class="icon">
        <i class="fa fa fa-tint"></i>
    </nb-card-header>
    <nb-card-body class="info">
        <p class="temperature-title">Warmwasser</p>
        <h3 id="tempWater">
            40
            <small>&deg;C</small>
        </h3>
    </nb-card-body>
    <nb-card-footer>
        <div class="timestamp">
            <i class="material-icons">access_time</i>
            <span id="timeWater">15:00 Uhr</span>
        </div>
    </nb-card-footer>
</nb-card>