<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <app-temps [solar]=true></app-temps>
    </div>
    <div class="col-lg-4 col-md-6">
      <app-temps [solar]=false></app-temps>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Email Statistics</h5>
          <h4 class="card-title">24 Hours Performance</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="barChartSimpleGradientsNumbers"
                        [datasets]="lineChartGradientsNumbersData"
                        [labels]="lineChartGradientsNumbersLabels"
                        [colors]="lineChartGradientsNumbersColors"
                        [options]="lineChartGradientsNumbersOptions"
                        [chartType]="lineChartGradientsNumbersType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
