<div *ngIf="solar; else water">
  <div class="card card-chart">
    <div class="card-main">
      <div class="card-header">
        <h4 class="card-title temps">Solar Temperatur</h4>
      </div>
      <div class="card-body">
        <div class="temp">
            <div class="blockSolar">
                <div *ngIf="error; else normal">
                  <i class="fas fa-sun"></i>
                  <h1>{{tempSolar}} °C</h1>
                </div>
                <ng-template #normal>
                  <i class="fas fa-sun"></i>
                  <h1>{{tempSolar | number:'1.0-1'}}<span>°C</span></h1>
                </ng-template>
              </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats temps">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Zuletzt aktualisiert um <strong>{{ timestamp }}</strong>
        </div>
      </div>
    </div>
    <div class="card-addition">
      <div class="min-max">
        <div class="row">
          <div class="col-md-2 day bottom-spacer">
            <h2>Tag</h2>
          </div>
          <div class="col bottom-spacer">
            <h2><span>Max</span>{{tempSolar | number:'1.0-1'}}<span class="degree">°C</span></h2>
          </div>
          <div class="col">
            <h2><span>Min</span>{{tempSolar | number:'1.0-1'}}<span class="degree">°C</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #water>
  <div class="card card-chart">
    <div class="card-main">
      <div class="card-header">
        <h4 class="card-title temps">Wasser Temperatur</h4>
      </div>
      <div class="card-body">
        <div class="temp">
          <div class="blockWater">
            <div *ngIf="error; else normal">
                <i class="fas fa-tint"></i>
                <h1>{{tempWater}} °C</h1>
              </div>
              <ng-template #normal>
                <i class="fas fa-tint"></i>
                <h1>{{tempWater | number:'1.0-1'}}<span>°C</span></h1>
              </ng-template>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats temps">
          <i class="now-ui-icons arrows-1_refresh-69"></i> Zuletzt aktualisiert um <strong>{{ timestamp }}</strong>
        </div>
      </div>
    </div>
    <div class="card-addition">
      <div class="min-max">
        <div class="row">
          <div class="col-md-2 day bottom-spacer">
            <h2>Tag</h2>
          </div>
          <div class="col bottom-spacer">
            <h2><span>Max</span>{{tempWater | number:'1.0-1'}}<span class="degree">°C</span></h2>
          </div>
          <div class="col">
            <h2><span>Min</span>{{tempWater | number:'1.0-1'}}<span class="degree">°C</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
