.card-main::after {
  content: '';
  position: absolute;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(154, 154, 154, 0.5);
}

.temp {

    display: flex;
    justify-content: center;
    align-items: center;

    .blockSolar {
        display: inline-block;

        i {
            color: #FF3636;
        }
    }

    .blockWater {
        display: inline-block;

        i {
            color: #2CA8FF;
        }
    }

    h1 {
        display: inline-block;
        text-align: center;
        margin: 0;
    }

    i {
        font-size: 3.5rem;
        padding: 0 1rem;
        position: relative;
        top: 3px;
    }
}

.card-footer {
    margin: 0;

    .stats {
        font-size: 0.9rem;

        i {
            top: 3px;
        }
    }
}

.card-title {
    margin-top: 5px !important;
}

.card-addition {

  .min-max {
    padding: 0.75rem;
  }

  .day {
    h2 {
      font-size: 1.5rem;
      line-height: 2.65rem;
    }
  }

  h2 {
    text-align: center;
    margin: 0;

    span {
      font-size: 1.25rem;
      padding: 0.5rem;
    }
  }
}
